## Exercises

Let's try out these data wrangling operations with the Iris dataset.

You should have downloaded the iris_csv.csv dataset into your working directory from the previous exercise.

In [ ]:
# We should always start with the import, although it may have been run above
import pandas as pd

In [ ]:
# read the data into a dataframe called irisdf
irisdf = pd.read_csv('iris_csv.csv')

**Q1. Missing Values**

Check if there are any missing values in the `irisdf` data set.

In [ ]:
# Q1 Answer
missing_values = irisdf.isna().sum()
print(missing_values)

**Q2. Find Duplicates**

There are three duplicate rows, display the rows.

In [ ]:
#Q2 Answer
duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

**Q3. Calculate Mean**

Find the mean `sepallength` and store it in a variable called `mean_sepallength`

In [ ]:
#Q3 answer
mean_sepallength = irisdf['sepallength'].mean()

print("Mean Sepal Length:", mean_sepallength)

**Q4. Set Value**

Set the `sepallength` of the row with index 34 to the mean value found.

In [ ]:
# Q4 Answer
irisdf.at[34, 'sepallength'] = mean_sepallength

print(irisdf.loc[34])

Check whether the number of duplicate rows has decreased by displaying the duplicated rows again. You can execute your answer to Q2 again)

**Q5. Drop Duplicates**

Drop the rows with duplicates

In [ ]:
# Q5 answer
irisdf = irisdf.drop_duplicates()

irisdf = irisdf.reset_index(drop=True)

print(irisdf)

Now check if there are any more duplicate values by running your answer to Q2 again.

**Q6. Set as NA**

Set the `sepalwidth` of the row with index 34 to `pd.NA` (which is pandas for NULL value)

In [ ]:
# Q6 Answer
irisdf.at[34, 'sepalwidth'] = pd.NA

We should be able to view the contents of the row with index 34 using the `loc` attribute:

In [ ]:
print(irisdf.loc[34])

**Q7. Find Rows with Missing Values**

Find the rows with *any* NA values

In [ ]:
# Q7 Answer
rows_with_na = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_na)
# Find the rows with any 'na' values, by row (axis = 1 indicates to check row by row)

**Q8. Drop Rows with Missing Values**

Now drop the rows with missing values with the argument `inplace = True`

In [ ]:
# Q8 answer
irisdf.dropna(inplace=True)

Check whether there are any more rows with NA values by running your answer to Q7 again.